@model Csharp_Passion_Project.Models.TeamPlayerDto
@{
    ViewBag.Title = "AddTeamPlayerToTeam";
}

<h2>AddTeamPlayerToTeam</h2>

<div id="containershow">
    <nav class="my-2">
        <a class="btn btn-secondary navlink" href="/Team/Details/@Model.TeamId">Back To Team</a>
    </nav>
    <form method="POST" action="/TeamPlayer/AddTeamPlayerToTeam">
        <div class="inputrow my-2">
            <label for="PlayerId">Select Player:</label>
            <select name="PlayerId" id="PlayerId">
                @foreach (var item in Model.Players)
                {
                    <option value="@item.Id">@item.FName @item.LName</option>
                }
            </select>
        </div>
        <div class="inputrow my-2">
            <label for="Owner">Joined Price:</label>
            <input type="number" min="0" step="0.1" id="JoinedPrice" name="JoinedPrice" />
        </div>

        <input id="TeamId" name="TeamId" type="hidden" value="@Model.TeamId" />

        <div class="inputrow my-2">
            <input class="btn btn-primary" type="submit" value="Add Team Player" />
        </div>
    </form>
</div>

