@model Csharp_Passion_Project.Models.PlayerDto
@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>@ViewData["title"]</h2>

<div id="containershow">
    <nav class="my-2">
        <a class=" btn btn-secondary navlink" href="/Player/Details/@Model.Id">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete <strong>@Model.FName&nbsp;@Model.LName</strong>?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Player/Delete/@Model.Id">
        <input class="btn btn-danger" type="submit" value="Delete PLayer" />
    </form>
</div>